body{
    font-family: Arial, Helvetica, sans-serif;

}

#wrapper{
    margin: 0 auto;
    padding: 0px;
    width: 80%;

    
    /* o que isso acima?! */
}

#wrapper p{
    margin: 0;
}
/**********************HEADER START***********/
#header{
    margin: 0px;
    padding: 0px;
}

.dateInfo{ /*date*/
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    font-size: xx-small;
}

.mainTitle{ /* puc news*/
    margin: 0;
    text-align: center;
}
#menu {
    text-align: center;
}

.mainOptions{ /* transformar em link*/
    list-style: none;
    display: inline-flex;
    padding-right: 20px;
    font-size: small;
}

.mainOptions li {
    padding-left: 5px;
    padding-right: 5px;
}

.mainOptions li a{
    color: black;
}

.mainOptions li a:hover{
    color: darkgray;
}

/**********************HEADER FINAL***********/

#content{

    background-color: antiquewhite;
}

#footer{

    background-color: #f3f3f3;
}

#sitemap {
    /*border: 2px solid blue;*/
    display: inline-flex;
    padding: 30px;
    width: 100%;
    
}

#sitemap ul{
    list-style: none;
    font-size: small;
    margin: 0;
    padding: 0;
    /*border: 2px solid red;*/
    width: 33%;

}

#sitemap ul p{
    font-weight: bold;
    letter-spacing: -1px;
}

#sitemap ul li {
    margin-top: 12px;
    margin-bottom: 12px;
}

#sitemap a{
    color: black;
    text-decoration: none;
}

#sitemap a:hover {
    color: cornflowerblue;
    text-decoration: underline;

}